<div class="container">
  <div class="row w-100 justify-content-center text-center mt-5">
    <div class="col-md-4">
      <div class="card card-style activity-card" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="card-title mt-3 test-mute">
          <h1>
            Upper Body  Workout
          </h1>
        </div>
        <div class="card-img">
          <img src="/assets/upper-body.png">
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-style activity-card" data-bs-toggle="modal" data-bs-target="#lowerbody">
        <div class="card-title mt-3 test-mute">
          <h1>
            Lower Body  Workout
          </h1>
        </div>
        <div class="card-img">
          <img src="/assets/lower-body.png">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-style activity-card" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="card-title mt-3 test-mute">
          <h1>
            Cardio
          </h1>
        </div>
        <div class="card-img">
          <img src="/assets/cardio.png">
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-3 w-100 justify-content-center text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">

    <div class="col-md-4">
      <div class="card card-style activity-card">
        <div class="card-title mt-3 test-mute">
          <h1>
            Yoga
          </h1>
        </div>
        <div class="card-img">
          <img src="/assets/yoga.png">
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="card card-style activity-card">
        <div class="card-title mt-3 test-mute">
          <h1>
            Meditation
          </h1>
        </div>
        <div class="card-img">
          <img src="/assets/meditation.png">
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-style activity-card">
        <div class="card-title mt-3 test-mute">
          <h1>
            Find Healthy Diet
          </h1>
        </div>
        <div class="card-img">
          <img src="/assets/read.png">
        </div>
      </div>
    </div>

  </div>

</div>


<!-- modal -->


<!-- Modal -->
<div class="modal fade w-100 " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form #TrainingData="ngForm" (ngSubmit)="sendData(TrainingData)" *ngIf="this.FitnessData">
          <select class="form-select" aria-label="Default select example" name="Type" #Type="ngModel"
            [(ngModel)]="FitnessData.Type">

            <option *ngFor="let value of upperbody">{{value}}</option>
            <!-- 
                    <option value="biceps">biceps</option>
                    <option value="triceps">triceps</option>
                    <option value="chest">chest</option>
                    <option value="shoulder">shoulder</option> -->




          </select>
          <div class="select-time">
            <label for="time" class="form-label">Choose Time For Exercise</label>
            <input type="number" class="form-control" name="time" #time="ngModel" [(ngModel)]="FitnessData.time">
          </div>
          <div class="spinner w-100 d-flex justify-content-center">
            <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
            <p>
              {{progress}}%
            </p>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
      <div class="modal-footer w-100 d-flex justify-content-center">
        <button type="button" class="btn btn-danger" (click)="onStop()">Stop</button>
        <button type="button" class="btn btn-success" (click)="onStartTraining()">Start</button>
      </div>

    </div>
  </div>
</div>
<div class="modal fade w-100 " id="lowerbody" tabindex="-1" aria-labelledby="exampleModalLabel-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-1">Lower Body</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form #TrainingData="ngForm" (ngSubmit)="sendData(TrainingData)" *ngIf="this.FitnessData">
          <select class="form-select" aria-label="Default select example" name="Type" #Type="ngModel"
            [(ngModel)]="FitnessData.Type">

            <option *ngFor="let values of lowerbody">{{values}}</option>
            <!-- 
                    <option value="biceps">biceps</option>
                    <option value="triceps">triceps</option>
                    <option value="chest">chest</option>
                    <option value="shoulder">shoulder</option> -->




          </select>
          <div class="select-time">
            <label for="time" class="form-label">Choose Time For Exercise</label>
            <input type="number" class="form-control" name="time" #time="ngModel" [(ngModel)]="FitnessData.time">
          </div>
          <div class="spinner w-100 d-flex justify-content-center">
            <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
            <p>
              {{progress}}%
            </p>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
      <div class="modal-footer w-100 d-flex justify-content-center">
        <button type="button" class="btn btn-danger" (click)="onStop()">Stop</button>
        <button type="button" class="btn btn-success" (click)="onStartTraining()">Start</button>
      </div>

    </div>
  </div>
</div>
