<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-brand">
      Fitness App
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      <li class="nav-item mx-5">
        <span routerLink="">Join Now</span>
      </li>

      <li class="nav-item mx-5">
        <span href="">Shop</span>
      </li>

      <li class="nav-item mx-5" >
        <span href="">Near gym</span>
      </li>

      <li class="nav-item mx-5">
        <span href="">Contact</span>
      </li>
    </ul>
    </div>
    <div >
      <button type="button" class="btn signup-btn mx-2">signup</button>
      
    </div>
  </nav>
</div>

<div class="container landing-section">
    <div class="row">
      <div class="col-md-3">
        <h2 class="text-large">
          Train Different
         </h2>
  
         <p class="text-fade">
          seize the opportunity! it's time to get best shape of your life </p>
      </div>
         <div class="redirect-btn mt-2">
          <button class="btn signup-btn" routerLink="/login">Join Now</button>
           <span>
            <a href="" class="text-normal mx-3">Features</a>
          
           </span>
         </div>
         
      <div class="col-md-6">
          <div class="athelete-img">
            <span class="img-border">
            <img src="/assets/landing-page-ad.png" alt="">
            </span>
          </div>
      </div>
    </div>
  </div>