<div class="container">
  <section class="nav-section">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="navbar-brand">
        <img class="nav-logo" src="/assets/icon-nav.png" alt="">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item mx-5">
            <span routerLink="/login">Join Now</span>
          </li>

          <li class="nav-item mx-5">
            <span href="">Shop</span>
          </li>

          <li class="nav-item mx-5">
            <span href="">Near gym</span>
          </li>

          <li class="nav-item mx-5">
            <span routerLink="/contact">Contact</span>
          </li>
        </ul>
      </div>
      <div>
        <button type="button" class="btn signup-btn mx-2">signup</button>

      </div>
    </nav>

  </section>

  <section class="mt-5">
    <div class="row">
      <div class="col-md-6 ">
        <p class="banner-text">Shape Your Ideal Body</p>

        <div class="text-normal test-mute">
          In here we will help you to shape and build your ideal
          <br> body and live
          up your life to fullest
        </div>
        <div class="redirect-btn mt-2 text-start mt-5 px-0">
          <button class="btn signup-btn mx-5" routerLink="/login">Join Now</button>
          <span class="text-normal mx-5 feature-text">
            Features

          </span>
        </div>
        <div class="row ">
          <div class=" mt-5 col-auto">
            <h1 class="text-white text-center">140+</h1>
            <span class="text-white fade-text ">Expert Coaches</span>
          </div>

          <div class="col-auto mt-5 ">
            <h1 class="text-white text-center">978+</h1>
            <span class="text-white  fade-text">Members Joined</span>
          </div>

          <div class="col-auto mt-5 ">
            <h1 class="text-white text-center">50+</h1>
            <span class="text-white fade-text">Fitness Programs</span>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="athelete-img">
          <swiper [effect]="'coverflow'" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="'auto'"
            [coverflowEffect]="{
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true
          }" class="mySwiper">
            <ng-template swiperSlide><img src="../../assets/athelete-1.png" /></ng-template>
            <ng-template swiperSlide><img src="assets/athelete-2.png" /></ng-template>
            <ng-template swiperSlide><img src="assets/athelete-3.png" /></ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </section>

  <section class="training-cards my-5">
    <p class="banner-subtitle text-center">
      Explore Our Programs To Shape You
    </p>
    <div class="row mt-4">
      <div class="col-md-3">
        <div class="card card-style landing-card ">
          <div class="card-body">
            <div class="card-title card-heading text-center ">
              Cardio Training
            </div>
            <p class=" text-small">
              Cardio exercise, which is sometimes referred to as aerobic exercise, is any rhythmic activity that raises
              your heart rate into your target heart rate zone. This is the zone where you burn the most fat and
              calories.

            </p>
            <div class="d-flex justify-content-center">
              <a routerLink="/start-new"> Join Now</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-style landing-card ">
          <div class="card-body">
            <div class="card-title card-heading text-center">
              Strenght Training
            </div>
            <p class="text-small">
              No matter your age or athletic ability, strength training is the key to flexibility, mobility, improved
              performance and lower injury risk. Anyone, at any fitness level, can and should strength train. And it
              doesn't have to take hours at the gym to see results.
            </p>
            <div class="d-flex justify-content-center">
              <a routerLink="/start-new"> Join Now</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-style landing-card ">
          <div class="card-body">
            <div class="card-title card-heading text-center">
              Fat burning
            </div>
            <p class=" text-small">
              If you exercise because you want to lose weight, you've probably heard or been told that, for the best
              results, you should work in your "fat-burning zone." Your fat-burning zone refers to the workout intensity
              that gets your body to burn primarily fat for fuel and is often measured using heart rate
            </p>
            <div class="d-flex justify-content-center">
              <a routerLink="/start-new"> Join Now</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-style landing-card ">
          <div class="card-body">
            <div class="card-title card-heading text-center">
              Health Fitness
            </div>
            <p class="text-small">
              Fitness involves activity of some sort that stimulates various systems of the body and maintains a certain
              condition within the body. Health, on the other hand, involves every system of the body and is only
              achieved through a lifestyle that supports health.
            </p>
            <div class="d-flex justify-content-center">
              <a routerLink="/start-new"> Join Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
