
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fitness-app-primary: mat.define-palette(mat.$indigo-palette);
$fitness-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fitness-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fitness-app-theme: mat.define-light-theme((
  color: (
    primary: $fitness-app-primary,
    accent: $fitness-app-accent,
    warn: $fitness-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fitness-app-theme);

/* You can add global styles to this file, and also import other style files */


$basic-color:#dcc2ad;
$nav-text: #f46c4a;
$text-bold: 68px;

 .text-large{
    font-size:$text-bold;
    color:#09090d;
    font-weight:bold;
    font-family:'Comic Sans MS' ;
 }
 html{
   // background: linear-gradient(to right,#604f4c, #31373c); 
   background-color: #09090d;
 }
  body{
    
    line-height:1.5 !important;
    background:none
   // background: linear-gradient(#604f4c, #31373c),no-repeat;
}
.signup-btn{
    //font-family:'Comic Sans MS' ;
    color: white;
    background-color: $nav-text;
}
.signup-btn:hover{
    color: rgb(0, 0, 0);
    
}
.nav-item{
    font-weight: bold;
   // font-family:'Comic Sans MS' ;
    color: white
}
.nav-item:hover{

    color: $nav-text;
    cursor: pointer;
    font-weight: bold;
}

.landing-section{
    margin-top:200px
}
.text-fade{
    font-size:22px;
    // color:$basic-color;
    font-weight: 200;
}
.text-normal{
    font-size:22px;
    // color:$basic-color;
   // text-decoration: underline $nav-text;
   color:whitesmoke;
    font-family:'popins' ;
}


.text-small{
    font-size:14px;
    font-weight:light;
    color: #bebebe;
    
    // text-decoration: underline $nav-text;
}
.text-bold{
    font-weight: bold;
}
.card{
    border-radius:30px;
   
    
}
.card-style{
    
    background-color:rgba(255, 255, 255, 0.19); ;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
    border: 1px solid rgba(255, 255, 255, 0.19);
    }


.signup-label{
    background-color:$basic-color;
    border-radius:20px;
    cursor: pointer;
}
mat-tab{
    font-size:32px
}
.mat-tab-group{
    color: white;
}
html, body { height: 100%; }

.mat-tab-label{
    color: whitesmoke;
}
.banner-text{
    color:white;
    font-size:88px;
    font-weight:bold;
     line-height:1.2;
     font-family:'popins' ;
}
.banner-subtitle{
    color:white;
    font-size:38px;
   // font-weight:bold;
     line-height:1.2;
    // font-family:'popins' ;
}
.test-mute{
    color:rgb(162, 159, 159)
  }
 