<div class="container">
  <section>

    <div class="row">

      <div class="col-md-4">
        <p class="testitmonial mt-5">TESTIMONIALS</p>

        <p class="banner-subtitle mt-5">
          WHAT THEY SAY ABOUT US
        </p>

        <span class="text-normal mt-5">
          I made right choice by choosing the Fitclub and by choosing the right plan and program I already achieved my
          ideal body !

        </span>
        <div class="mt-5 text-normal">
          <span class="testitmonial"> Michael Garfield </span> <span class="text-white">- Entrepreneur </span>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="box">
    
        <img class="img-testimonial mx-5 mt-3" src="../../assets/testimonial2.jpg" alt="">

        </div>
      </div>
    </div>
  </section>
   <div class="row mt-5 d-flex w-100">
    <div class="col-md-8">
      <div class="banner-subtitle mt-5">
        READY TO LEVEL UP YOUR BODY WITH US ?
      </div>

   
   </div>
 <div class="col-md-4 mt-3">
   <div class="join-now  d-flex">
    <div class="row w-100 align-items-center">
      <div class="col-8">
        <input type="text" class="form-control-plaintext" placeholder="Enter Your Email Addres Here...">

      </div>
       <div class="col-4">
        <button class="btn contact-btn" routerLink="/login">
          Join now
        </button>
       </div>
    </div>
  
   </div>
 </div>
</div>
